{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table{ width:100% }
</style>

    <table class="table-light">
        <tbody>
        <tr class="table-info text-center">
            {{ form_start(loadUser) }}
                <td> {{ form_row(loadUser.name, {'attr': {'class': 'form-control'}}) }} </td>
                <td> {{ form_row(loadUser.email, {'attr': {'class': 'form-control'}}) }} </td>
                <td> {{ form_row(loadUser.password, {'attr': {'class': 'form-control'}}) }} </td>
                <td> {{ form_row(loadUser.roles, {'attr': {'class': 'form-control'}}) }} </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    <a href="{{ path('app_users') }}">Back</a>
    {{ form_end(loadUser) }}

    {% endblock %}
